@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:regular,700&display=swap");
@import url("../css/iconfont.css");

@font-face {
   font-family: "Aleo";
   src:  url("../fonts/Aleo-Font/aleo-bold-webfont.eot") format("eot"),
         url("../fonts/Aleo-Font/aleo-bold-webfont.ttf") format("ttf"),
         url("../fonts/Aleo-Font/aleo-bold-webfont.woff") format("woff"),
         url("../fonts/Aleo-Font/aleo-bold-webfont.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}