.footer {
	background-color: #232323;
	height: 270px;
	text-align: center;

	&__container {
		width: 240px;
		height: 100px;
	}

	&__title {
		font-size: 24px;
		letter-spacing: 3px;
		line-height: 26px;
		color: #ffffff;
		font-weight: 700;
		font-family: "Josefin Sans";
		text-transform: uppercase;
		padding-top: 100px;
	}

	&__subtitle {
		font-size: 16px;
		letter-spacing: 2px;
		line-height: 26px;
		color: #ffffff;
		font-family: "Josefin Sans";
	}

	&__social {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-top: 25px;
	}
}

.social {
	width: 100%;

	&__img {
		width: 17px;
		height: 20px;
		fill: #ffffff;

		&:hover {
			fill: #5474fd;
			transform: scale(1.5);
			transition: all 3s;
		}
	}
}