.header {
	height: 8vh;
	background-color: #5474fd;
	text-transform: uppercase;
	color: #fff;

	&__container {
		display: flex;
		min-height: 80px;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	&__logo {
		font-family: "Josefin Sans";
		font-weight: 700;
		font-size: 24px;
		letter-spacing: 2.5px;
		line-height: 26px;
	}
}

.menu {
	display: flex;

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin: 0 40px 0 0;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 26px;

		&:hover {
			color: #304396;
			transition: all 3s;
			border-bottom: 2px double #304396;
		}
	}
}