.main-block {
	background-image: url("../images/header/header_img.jpg");
	background-size: cover;
	background-position: center center;
	height: 92vh;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__body {
		text-align: center;
		font-family: "Josefin Sans";
		color: #fff;
	}

	&__title {
		margin-top: 265px;
		font-size: 48px;
		letter-spacing: 5px;
		line-height: 26px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__subtitle {
		font-size: 22px;
		letter-spacing: 7px;
		line-height: 26px;
		margin-top: 10px;
	}

	&__scroll {
		margin-top: 120px;
		font-family: "Josefin Sans";
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 26px;
		color: #fff;
		position: relative;

		&:hover {
			color: #000;
			transition: all 2s;
		}
	}
}

.form {
	display: flex;
	margin-top: 50px;

	&__search {
		width: 560px;
		height: 60px;
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 26px;
		color: #999999;
		text-align: center;
		background-color: #fff;
	}

	&__button {
		font-size: 14px;
		letter-spacing: 1px;
		font-family: "Aleo";
		color: #fff;
		line-height: 26px;
		font-weight: 400;
		text-transform: uppercase;
		margin-left: 0px;
		width: 145px;
		height: 60px;
		border: 2px solid #fff;
		background-color: #5474fd;
		position: relative;

		&:hover {
			background-color: #304396;
			color: #5474fd;
			transition: all 3s;
		}
	}
}