// === DESKTOP FIRST ===

// md <= Large (lg)
@media (max-width : 991.98px) {
	.step {
		height: 300px;
	}

	.step__line img {
		width: 550px;
	}

	.step__column {
		font-size: 28px;
	}

	.step__img img {
		width: 45px;
	}

	.review__title {
		padding: 50px 0 70px 0;
	}

	.review__block {
		flex-direction: column;
		align-items: center;
	}

	.review__author {
		height: 200px;
		padding: 40px;
		margin-top: 10px;
	}
}

// sm <= Medium (md)
@media (max-width : 767.98px) {
	.form__search {
		width: 400px;
	}

	.menu__list {
		max-width: 400px;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	.content__title {
		margin-top: 35px;
		margin-bottom: 20px;
	}

	.content__text:not(:last-child) {
		margin: 0 15px 15px 0;
	}

	.content__button {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.about-as__container {
		flex-direction: column;
	}

	.about-as__picture {
		display: flex;
		width: auto;
		margin-top: 25px;
	}

	.about-as__picture img {
		display: block;
		width: 265px;
	}

	.about-as__picture img:nth-child(2) {
		margin-left: 10px;
		position: relative;
	}

	.step {
		height: 150px;
	}

	.step__line {
		display: none;
	}

	.step__body {
		height: inherit;
	}

	.step__column {
		margin-bottom: 25px;
		margin-top: 15px;
		font-size: 18px;
	}

	.step__img {
		height: 70px;
	}

	.step__column img {
		width: 30px;
	}

	.review__title {
		padding: 30px 0 40px 0;
	}

	.review__author {
		height: 240px;
		padding: 30px;
		margin-top: 25px;
	}
}

// xs <= Small (sm)
@media (max-width : 575.98px) {
	.main-block {
		height: 600px;
	}

	.main-block__title {
		margin-top: 165px;
		font-size: 40px;
	}

	.main-block__subtitle {
		font-size: 16px;
	}

	.form {
		margin-top: 30px;
	}

	.form__search {
		width: 255px;
		height: 35px;
		letter-spacing: 1px;
	}

	._icon-header_search:before {
		right: 5px;
		top: 6px;
	}

	.form__button {
		width: 35px;
		height: 35px;
	}

	.form__button span {
		display: none;
	}

	.header__logo {
		display: none;
	}

	.about-as {
		height: auto;
	}

	.about-as__content {
		width: 100%;
		min-width: 140px;
	}

	.content__title {
		margin-top: 60px;
		margin-bottom: 35px;
	}

	.content__text:not(:last-child) {
		margin: 0 0 20px 0;
	}

	.content__button {
		margin-top: 40px;
	}

	.about-as__picture {
		display: none;
	}

	.step {
		height: 110px;
	}

	.step__column {
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 12px;
	}

	.block {
		padding: 11px 5px;
		width: 320px;
	}

	.block__title {
		padding: 5px 0 5px 0;
	}

	.block__text {
		width: 100%;
		min-width: 270px;
	}

	.block__button {
		margin-top: 20px;
	}

	.spine__block {
		text-align: right;
	}

	.review {
		height: auto;
	}

	.review__title {
		padding: 20px 0 15px 0;
		font-size: 24px;
	}

	.review__img {
		display: none;
	}

	.review__author {
		height: auto;
	}

	.footer {
		height: auto;
	}

	.footer__title {
		padding-top: 18px;
	}

	.footer__social {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}